header{
    font-family: 'Fredericka the Great', cursive;
    height: 200px;
    background: url('../images/header2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
    padding-top: 75px;
    h1{
        font-size: 50px;
    }
    h3{
        font-size: 25px;
        padding-top: 20px;
    }
}
