#selectDate{
    font-size: 20px;
    div{
        padding: 25px 0;
        input{
            color: black;
        }
        button{
            color: black;
            background: white;
            padding: 5px;
        }
    }
}
